:root {
    --border-color: gold;
}
ul {
    padding: 0px;
    list-style: none;
}

body {
    background: linear-gradient(yellow,gold,orange) no-repeat;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}
#container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 15px;
    padding: 10px;
}

.description {
    position: static;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 40px;
    border-top-left-radius: 0px;
    box-shadow: 2px 2px 4px black;
}
.description:before {
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    margin: -30px 0 0 -10px;
    border-bottom: 20px solid white;
    border-right: 18px solid transparent;
    border-left: 0px solid transparent;
}
.description li strong {
    color: purple;
}
.description li {
    display: grid;
    grid-template-columns: 70px auto;
    margin: 5px 0px;
}
.description li span::first-letter {
    text-transform: uppercase;
}

#colaboradores {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 20px;
    margin: auto;
    width: 95%;

}
#colaboradores article {
    
}
#colaboradores article img {
    width: 100%;
    max-width: 500px;
    border: 5px solid white;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s all ease;
    border-radius: 2px;

}
#colaboradores article img:hover{
    box-shadow: 0px 2px 5px black;
    -webkit-filter: none;
    filter: none;

}
#colaboradores article ul{
    display: none;
}
#colaboradores article img:hover ~ ul {
    display: block;
}

#colaboradores article p{

    width: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    opacity: 1;    
    transition: 0.5s all ease;
}

#colaboradores article:nth-child(even) p{
    background-color: white;


}
#colaboradores article:nth-child(odd) p{
    background-color: antiquewhite;

}


/* CURRICULUM */

#curriculum {
    display: none;
    grid-template-areas: 
    "header header"
    "content aside"
    "footer footer"
    ;
    background-color: white;
    grid-template-columns: 60% 40%;
    grid-template-rows: 300px auto;
    position: absolute;
    z-index: 2 ;
    width: 90%;
    left: 0%;
    right: 0%;
    margin: auto;
    transition: 2s all ease;
    border-radius: 5px;
    box-shadow: 0px 0px 23px black;

}
#curriculum h1 {
    margin: 10px auto;
    text-transform: uppercase;
    font-size: 28px;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
.foto-curriculum {
    z-index: 99999;
    position: absolute;
    left: 6%;
    top: 5%;
    width: 200px !important;
    height: auto;
    border: 2px solid black !important;
    pointer-events: none;

}


#datos-perfil {
    grid-area: header;
    grid-column: 2/3;
    padding: 10px;
}
#experiencia {
    grid-area: content;
    padding: 10px;

}
#habilidades {
    grid-area: aside;
    padding: 10px;

}
#habilidades h3 {
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
#datos-perfil ul li {
    margin: 5px;
}
#datos-perfil ul li span::first-letter{
    text-transform: uppercase;
    background-color: red;
}


#experiencia {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
}
#experiencia div{

    height: 100px;
    padding: 10px;

}


#experiencia div:nth-child(2n+1){
    border-top:2px solid var(--border-color);
    text-align: left;
}
#experiencia div:nth-child(2n+0){
    border-top:2px solid var(--border-color);
    text-align: right;


}
#experiencia div:nth-child(4n+1){
    border-top:2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    text-align: left;
    font-weight: bold;
    padding-left: 20%;
}
#experiencia div:nth-child(4n+0){
    border-top:2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-bottom: 0px solid var(--border-color);
    text-align: right;
    font-weight: bold;
    padding-right: 20%;
}
#experiencia div p {
    padding-top: 20px;
}

#skills span {

    background-color: gold;
    border-radius: 25px;
    margin: 5px;
    padding: 5px 10px;
    display: inline-block;
}




#offside {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
#restaurar {
    font-size: 36px;
    position: fixed;
    top: 4%;
    right: 7%;
    z-index: 2;
    display: none;
}